<div class="modal" id="list-chatrooms-modal" tabindex="-1" role="dialog" aria-labelledby="list-chatrooms-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="list-chatrooms-modal-label">{{{o.__('Manage affiliations')}}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column">
                <form class="converse-form query-affiliation">
                    <div class="form-group">
                        <label for="affiliation">
                            <strong>{{{o.__('Affiliation')}}}:</strong>
                        </label>
                        <div class="row">
                            <div class="col">
                                <select class="custom-select select-affiliation" name="affiliation">
                                    {[ o.affiliations.forEach(function (aff) { ]}
                                        <option value="{{{aff}}}" {[ if (aff === o.affiliation)  { ]} selected="selected" {[ } ]}>{{{aff}}}</option>
                                    {[ }); ]}
                                </select>
                            </div>
                            <div class="col">
                                <input type="submit" class="btn btn-primary" name="list" value="{{{o.__('Show users')}}}"/>
                            </div>
                        </div>
                    </div>
                </form>
                <ul class="list-group scrollable-list">
                    {[ if (!o.list)  { ]}
                        <li class="list-group-item"> <span class="spinner fa fa-spinner centered"/> </li>
                    {[ } ]}
                    {[ if (o.list && o.list.length === 0) { ]}
                        <li class="list-group-item">{{{o.__('No users with that affiliation found.')}}}</li>
                    {[ } ]}
                    {[ (o.list || []).forEach(function (item) { ]}
                        <li class="list-group-item">
                            <ul class="list-group">
                                <li class="list-group-item active">
                                    <div><strong>JID:</strong> {{{item.jid}}}</div>
                                </li>
                                <li class="list-group-item">
                                    <div><strong>Nickname:</strong> {{{item.nick}}}</div>
                                </li>
                                <li class="list-group-item">
                                    <form class="affiliation-form">
                                        <div class="form-group">
                                            <input type="hidden" name="jid" value="{{{item.jid}}}"/>
                                            <input type="hidden" name="nick" value="{{{item.nick}}}"/>
                                            <div class="row">
                                                <div class="col">
                                                    <label><strong>{{{o.__('Affiliation')}}}:</strong></label>
                                                    <select class="custom-select select-affiliation" name="affiliation">
                                                        <option value="{{{o.affiliation}}}">{{{o.affiliation}}}</option>
                                                        {[ o.allowed_affiliations.forEach(function (aff) { ]}
                                                            <option value="{{{aff}}}">{{{aff}}}</option>
                                                        {[ }); ]}
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label><strong>{{{o.__('Reason')}}}:</strong></label>
                                                    <input class="form-control" type="text" name="reason"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary" name="change" value="{{{o.__('Change affiliation')}}}"/>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    {[ }); ]}
                </ul>
            </div>
        </div>
    </div>
</div>
